#  example "rc" file to source to set up the environment for the EDGE-GBT-HI pipeline


# 1.   enable the python that has dysh pip installed - or use venv
# source $HOME/GBT/anaconda3/python_start.sh

if [ -d ~/GBT/venv ]; then
  source ~/GBT/venv/bin/activate
fi

# 2. set the SDFITS directory
export SDFITS_DATA=$HOME/GBT/sdfits

# for EDGE-GBT-HI use the --full data or ensure the subdirectory data points to where the AGBT15B_287_*.fits files are

